html{
  height: 600px;
  width: 100vw;
  background: black;
  overflow: hidden;
  background: #000000;  
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)), url("consuming\ fire.png");
  background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)), url("consuming\ fire.png"); 
}


body{
  text-align: center;
  color: antiquewhite;
  font-size: 250%;
  font-family: Romans;
}

h1{
  text-align: center;
  color: antiquewhite;
  font-size: 150%;
  font-family: Romans;
}

h3{
  text-align: center;
  color: antiquewhite;
  font-size: 100%;
  font-family: Romans;
}


h4{
  text-align: center;
  color: antiquewhite;
  font-size: 100%;
  font-family: Romans;
}




